__pycache__/
*.py[cod]
*$py.class
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.dockerignore
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
*.log
secrets.env
.env
backup/
out/
